.chatListItem {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 70px;

}

.chatListItem.active{
    background-color: #626165;

}

.chatListItem:hover {
    background-color: #626165;
}

.chatListItem--avatar {     /* foto do avatar */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;

}

.chatListItem--lines {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #5e5858;
    padding-right: 10%;
    margin-left: 15px;

   /* para cortar mensagens grandes na pré-visualização com três pontinhos + a formatação do "p" em .chatListItem--lastMsg p, abaixo*/
    flex-wrap: wrap;  
    min-width: 0;


}

.chatListItem--line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 40px; */
    /* background-color: red; */



}

.chatListItem--name{
    font-size: 17px;
    color: #f7f1f1;

}

.chatListItem--date{
    font-size: 12px;
    color: #999;


}

.chatListItem--lastMsg {
    font-size: 14px;
    color: #a0979b;
    display: flex;
    width: 100%;
    font-style: italic;

}

.chatListItem--lastMsg p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;

}