* {
  box-sizing: border-box;
}


body {
  background-color: #D2DBDC;
  margin: 0;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #333 /*#ededed*/;

}

.sidebar {
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray ; /*borda que divide o chat ao meio #ddd*/

}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;   /* deixar redonda imagem */
  cursor: pointer; /*indica que o item é clicável*/
  



}

.header--buttons {
  display: flex;


}

.header--btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.search {
  background-color: #333;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;

}

.search--input {
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px ;
}

.search--input input {
  flex: 1;
  border:0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;

  
}
/* plano de fundo janela nomes */
.chatlist {
 flex: 1;
 background-color: #2e2a40;
 overflow-y: auto;
 
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: #e9dcdc;
}

.contentarea {
  flex: 1;



}